
<div class="menu">
    <ul>
        <li >
            <a  href="/" >
                Home 
            </a> 
            
        </li>
    </ul>

    <ul>
        <li>
            <a href="/fetchdata">
                Fetch data
            </a>
        </li>
    </ul>
</div>

@code {
   
}
