.menu {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu ul {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;


}

.menu li {
    margin-top: 12%;
    width: 80%;
    height: 40px;
    background-color: #dde0e2;
    box-sizing: border-box;
    line-height: 40px;
    border-radius:10px;
    position:relative;
}

.menu li a {
    font-size: 18px;
    color: #323232;
    text-decoration: none;
}



